.next, .prev, .play, .right_arrow, .left_arrow, .join_arrow {
display: none !important;
}
#secondary {
	margin: 0;
}
body.home .donate {
	margin-left: 13px;
}
#access {
	margin-top: 50px;
}
hgroup {
	margin-left: -25px;
}
#branding img#head {
	margin-left: -13px;
}
.banner-wrap {
	z-index: 1;
	position: relative;
}
.home-sidebar .widget {
	width: 244px;
}