/*
Theme Name:     Jeff for Portland
Theme URI:      http: //jeffersonsmith.com/
Description:    Child theme for the Twenty Eleven theme 
Author:         Scott Duncombe, Designed by Mollie Ruskin
Author URI:     http://scottduncombe.com
Template:       twentyeleven
Version:        0.2
*/
@import url(../twentyeleven/style.css);
@import url(http://fonts.googleapis.com/css?family=Questrial|PT+Sans:400,700|Fjord+One|Ultra);

/** Element Defaults **/
body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: #676869;
    min-width: 1000px !important
    }

#content h1, h1, h1 a:visited, h1 a {
    font-family: "Fjord One", serif;
    color: #2190BE;
    font-size: 36px;
    font-weight: normal
    }

.home #content h1 {
    color: #f38c18
    }

#content h2, h2 {
    font-family: "Fjord One", serif;
    color: #f38c18;
    font-size: 24px
    }

#content h2, h2 {
    font-family: "Questrial", sans-serif;
    color: #F6AB56;
    font-size: 18px
    }

p {
    margin: 0 0 16px 0
    }

a, a:visited {
    color: #F7941E
    }

a:hover {
    color: #2190BE
    }

#content img {
    border: 0;
    padding: 0
    }

.entry-content table, .entry-content td {
    border: 0;
    padding: 0;
    vertical-align: bottom
    }

.right_arrow {
    border-color: transparent transparent transparent #a65302;
    border-style: solid;
    border-width: 13px;
    z-index: 1;
    position: relative
    }

.left_arrow {
    border-color: transparent #a65302 transparent transparent;
    border-style: solid;
    border-width: 13px;
    z-index: 1;
    position: relative
    }

/** Sidebar **/
#secondary {
    width: 280px;
    margin: 0 -13px 0 0
    }

.a_button {
    font-family: "Ultra", serif;
    font-size: 38px;
    text-transform: uppercase;
    position: relative;
    z-index: 2
    }

.a_button .more {
    font-size: 12px;
    font-family: "PT Sans", sans-serif
    }

body.home .donate {
    margin-left: 2px
    }

.donate {
    position: relative;
    background: transparent url(images/donate.png) repeat top left;
    margin: -3px 0 0 1px;
    width: 267px;
    text-align: center;
    z-index: 1;
	height: 85px;
	padding-top: 18px;
    }

.donate:hover {
    background-position: 1px -103px
    }

.widget .better_menu ul.title a {
    color: #2190BE;
    font-size: 20px;
    cursor: pointer
    }

.widget .better_menu ul.title {
    list-style: none
    }

.widget .better_menu a {
    color: #798e94
    }

.widget .better_menu a:hover {
    color: #2190BE
    }

.better_menu {
    background: #D9E7EE;
    padding: 33px
    }

.join {
    background: #D9E7EE;
    color: #2190BE;
    padding: 33px
    }

.join .more {
    color: #798e94;
    font-style: italic;
    margin: 0;
    text-transform: none
    }

.join input {
    background: #f6f9fa;
    border: 1px solid #DDD;
    color: #798e94;
    font-family: "PT Sans", sans-serif;
    width: 190px;
    display: block;
    margin: 13px 0;
    padding: 7px
    }

input[type=submit]:hover {
    background: #ddebf1 url(images/js_submitbutton_hover.png) repeat-x top left;
    color: #f8cb50
    }

input[type=submit]:active {
    background: #ddebf1 url(images/js_submitbutton_active.png) repeat-x top left;
    color: #f8cb50
    }

input[type=submit] {
    background: #cde5ee url(images/js_submitbutton_normal.png) repeat-x top left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 4px 10px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    width: auto;
    color: #6b97a8
    }

.join input[type=submit] {
    clear: right;
    float: right
    }

.join form {
    padding: 0 0 30px
    }

.join_arrow {
    border-color: transparent transparent transparent #115572;
    float: right;
    border-style: solid;
    margin: -12px -13px -100% -26px;
    border-width: 13px;
    z-index: 0
    }

.widget a:hover, .widget a:focus, .widget a:active {
    text-decoration: none
    }

a .donate {
    color: #fff;
    text-decoration: none
    }

/** YouTube and Flickr Bars **/
.bar {
    width: 100%;
    clear: both;
    position: relative;
    z-index: 2
    }

.bar .inner {
    padding: 30px 60px
    }

.bar h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Ultra", serif
    }

#youtube-bar h1 {
    color: #383939
    }

#youtube-bar {
    margin: 0 -12px 0;
    background: #f5cb9a;
    padding: 0 12px
    }

#youtube-bar .inner {
    padding-left: 77px
    }

#youtube-bar .widget {
    margin: 14px -15px 7px
    }

#youtube-bar .thumb {
    width: 264px;
    margin: 0 15px;
    float: left
    }

#youtube-bar .thumb img {
    max-width: 264px;
    width: 264px;
	margin-bottom: -8px

    }

#youtube-bar .thumb .play, .top-thumb .play {
    position: absolute;
    width: auto;
    display: none;
    cursor: pointer
    }
#youtube-bar .thumb h3 {
	display: none;
	float: left;
	margin-top: -198px;
	z-index: 10;
	position: relative;
	padding: 10px;
	color: white;
}
#youtube-bar .thumb:hover h3, #youtube-bar .thumb h3:hover {
	display: block;
}

#branding .top-thumb img.play {
    margin: -230px 0 0 50%;
height: 229px;
    }

#youtube-bar .thumb .play {
    top: 100px;
    height: 130px;
    margin-left: 80px
    }

#youtube-bar .thumb:hover {
    background: #F7941E
    }

#youtube-bar .thumb:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5
    }

#youtube-bar .thumb:hover .play, .top-thumb:hover .play {
/**     display: block; **/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.youtube_bar_right {
    float: right;
    margin: -13px -26px -100% 26px
    }

.youtube_bar_left {
    float: left;
    margin: -15px 26px -100% -26px
    }

#photo-bar {
    margin-bottom: 30px
    }

#photo-bar h1 {
    color: #f7941e
    }

#photo-bar .thumb {
    float: left;
    margin: 0 15px
    }

#photo-bar .widget {
    margin: 10px -15px
    }

#photo-bar .thumb:hover {
    background: #F7941E
    }

#photo-bar .thumb:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    margin-bottom: -7px
    }

#photo-bar .thumb img {
    width: 100px;
    max-width: 100px
    }

/** Home Layout **/
.singular .entry-header, .singular .entry-content, .singular footer.entry-meta, .singular #comments-title {
    width: 100%
    }

.error404 #primary, #primary {
    margin: 0 -36.4% 0 0;
    float: left;
    width: 732px
    }

#main {
    padding: 0
    }

#content, .singular #content, .left-sidebar.singular #content {
    margin: 0 60px
    }
#content {
	width: auto
}

.home #primary {
    width: 70%
    }

f.home #main {
    padding: 0
    }

body.blog #content, body.error404 #primary #content {
	margin-top: 40px
}
.home.singular.page .hentry {
    padding: 27px 0 0
    }

.home #content h1 {
    margin: 10px 0 25px
    }
.home .entry-content {
    width: auto
    }

.top.home-sidebar { 
	margin: 0 0 0 20px
}
.bottom.home-sidebar {
    margin: 0 -40px 0 20px
}

.bottom.home-sidebar .widget {
	margin-bottom: 40px
}
.home-sidebar .widget {
    width: 253px;
    clear: none;
    float: left;
    margin: 0 40px
    }
.error404 #main .widget {
	clear: both;
	float: left;
	margin: 0 0 2.2em;
	width: 280px
	}
.error404 #main #searchform {
	margin: 0 -1.9% 1.625em
}
.home-sidebar .widget-title {
    display: block;
    color: #2190BE;
	line-height: 1.2em;
    font-size: 20px;
	margin-bottom: 16px;
letter-spacing: 1px;
    font-family: "Ultra", serif
    }

.widget a {
    font-weight: normal;
    }

.widget-content a:hover {
    color: #33454F
    }

.home #content table {
    width: 674px
    }

.home #content table td.links {
    width: 186px;
    padding: 0 20px 0
    }

.home #content table td.links a {
    font-family: "Questrial", sans-serif;
    color: #f6ab56;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 0.8em
    }

#youtube-bar .next, #youtube-bar .prev {
    margin-top: -209px
    }

#photo-bar .next, #photo-bar .prev {
    margin-top: -26px
    }

.bar .next, .bar .prev {
    width: 40px;
    height: 100px;
    position: absolute;
    display: block;
    cursor: pointer
    }

.bar .off {
    display: none;
    background: transparent url(./images/blank.gif) no-repeat;
    /* Trick IE into showing hover */
    }

.bar .prev {
    left: 0;
    float: left
    }

.bar .next {
    right: 0;
    float: right
    }

/** Header **/
#branding {
    border-top: 0;
    padding-bottom: 0
    }

#branding hgroup {
    margin: 0 0 0 0;
    height: 100px
    }

#branding hgroup img {
    float: left;
    margin: -6px -5px -5px 20px
    }

#branding .top-header {
    padding: 30px 15px
    }

#branding img#head {
    margin: -63px -60px 0 -15px
    }

#branding #cap {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 100px;
    float: right;
    margin: -50px -215px -110px 0;
    position: relative;
    z-index: 10
    }

#branding img {
    width: auto;
    position: relative;
    z-index: 9
    }

#access {
    background: #33454f;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    font-family: "Fjord One", serif;
    margin: 0 auto
    }
#access ul ul {
display: none;
float: left;
margin: 0;
position: absolute;
left: 20px;
width: 120px;
z-index: 99999;
top: 100%
}

#access ul ul a {
	background: #33454f;
	color: #cbb9a4;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 120px;
border-bottom: 0
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #33454f;
}
#access li:hover > a,
#access a:focus {
	background: #33454f;
	color: #2190BE;
}
/** The Donate Link **/
#access .menu-item-414 a {
    color: #F38C18
    }

#access li:hover > a, #access ul ul :hover > a, #access a:focus {
    background: #33454f;
    color: #2190BE
    }

#access .current-menu-item > a, #access .current-menu-ancestor > a, #access .current_page_item > a, #access .current_page_ancestor > a, #access .current-page-ancestor  a {
    color: #fff
    }

#access ul {
    font-size: 16px;
    margin-left: -40px
    }

#access a {
    line-height: 50px;
    padding: 0 26px;
    color: #cbb9a4
    }

.header_img_right {
    float: right;
    margin: -13px -26px -100% 26px
    }

.header_img_left {
    float: left;
    margin: -12px 26px -100% -26px
    }

#branding .banner-wrap {
    border: 13px solid #f8c17f;
    margin: 0 -12px 0;
    float: left;
    position: relative;
    z-index: 10
    }

/** Background **/
body {
    background: rgba(62, 133, 166, 0.85) url(images/js_map.jpg) repeat-y top center;
    min-width: 320px
    }

#blue_body {
    overflow: hidden;
    margin: 0 0 0 -2em;
    padding: 0 2em 0 2em;
    width: 100%;
    height: 120%;
    background-color: rgba(62, 133, 166, 0.85);
    zoom: 1
    }

#page {
    margin: 24px auto 0
    }

/** Footer **/
#colophon {
    background: rgba(247, 148, 30,.85);
    border-top: 1px solid #ddd;
margin-bottom: 20px;
    color: #fff
    }

#colophon .widget-title {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Ultra", serif
    }

#colophon a {
    color: #fff
    }

#colophon p {
    font-size: 14px;
    font-family: "Questrial", sans-serif
    }

#site-generator {
    background: transparent;
    border-top: 0;
    color: #fff
    }

#supplementary {
    padding: 66px 60px 20px
    }

#supplementary.three .widget-area {
    margin-right: 50px;
    width: 260px
    }

/** Conditional style elements **/
@media only screen and (min-width: 660px) {
    body {
        background: rgba(62, 133, 166, 0.85) url(images/js_map_1500px.jpg) repeat top center
        }
    }
@media only screen and (max-width: 660px) {
    body {
        background: rgba(62, 133, 166, 0.85) url(images/js_map_700px.jpg) repeat top center
        }
    }
.twtr-widget h3, h4 {
    clear: none
    }
.twtr-doc { padding: 10px }
.widget .better_menu ul.title li.page-item-213 a { font-size: 38px }
.widget ul.child-links li.current_page_item a {
	color: #a65302;
}
.widget ul.child-links li {
	font-size: 16px;
	line-height: 1.4em;
}
.widget ul.child-links {
	font-family: "Questrial", sans-serif;
	margin-left: 20px;
	text-transform: capitalize;
}
.sub-sidebar {
	margin: -30px -18px 0 42px;
}
.sub-sidebar .widget {
	clear: none;
	float: left;
	width: 190px;
	height: 160px;
	margin: 10px 18px 40px;
}.
body.page-template-volunteerhq-php .sub-sidebar .widget {
	width: 270px;
}
body.page-template-issues-php .sub-sidebar .widget h2 {
height: 60px;
}
body.page-template-issues-php .sub-sidebar .widget {
	width: 109px;
	height: 120px;
	margin: 40px 18px 40px;
}
.sub-sidebar .widget-title {
	font-family: "Questrial", sans-serif;
	color: #F6AB56;
	font-size: 18px;
	letter-spacing: normal;
	line-height: 1.2em;
	margin-bottom: 10px;
	text-transform: capitalize;
	padding: 0;
	box-shadow: 0;
	text-decoration: none;
	-moz-text-shadow: 0;
	-webkit-text-shadow: 0;
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	text-align: center;
	border: 0;
	display: inline-block;
	white-space: nowrap;
}
.sub-sidebar .widget a.ai1ec-button { cursor: pointer
}
.sub-sidebar .widget a.ai1ec-button { font-size: 12px !important; float: left; }
.comments-link { display: none; }
#content ul.child-links {
margin: -20px 60px 30px;
}
#content ul.title {
list-style: none;
}
#content ul.title li a {
color: #2190BE;
font-size: 20px;
font-family: "Fjord One", serif;
}

.widget a.ai1ec-button {
	cursor: pointer;
	font: 12px 'PT Sans', sans-serif; !important;
	text-decoration: none !important;
	color: #F7941E !important;
	text-shadow: 0;
	-moz-text-shadow: 0;
	-webkit-text-shadow: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	text-align: center;
	border: 0;
	border-width: 0;
	display: inline-block;
	white-space: nowrap;
}
.widget a.ai1ec-button:hover {
	color: #2190BE !important;
	background: transparent;
}
.widget .ai1ec-agenda-widget-view .ai1ec-button {
	font-size: 13px !important;
	margin: 10px 0;
}
.widget a.ai1ec-subscribe-google img {
	width: 17px !important;
	height: auto !important;
	margin-top: 0 !important;
}
.widget .ai1ec-subscribe-google {
	margin-left: 66px !important;
}
body.category header.page-header {
display: none;
}